<%# /views/partials/footer.ejs %>
<footer class="footer-distributed">
  
    <div class="footer-left">
        <h3>Cargo<span>.</span></h3>
        <p class="footer-links">
            <a href="/">Home</a>
            <a href="/clothings">Products</a>
            <a href="/track">Track & Trace</a> <%# Adjusted URL %>
            <a href="/about">About us</a> <%# Adjusted URL %>
            <a href="/FAQ">Faq</a>
            <a href="/contact">Contact</a> <%# Adjusted URL %>
        </p>
    </div>

    <div class="footer-center">
        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>20157 kabarak</span> Rafiki, Nakuru</p>
        </div>
        <div>
            <i class="fa fa-phone"></i>
            <p>+2547 123 456 78</p>
        </div>
        <div>
            <i class="fa fa-phone"></i>
            <p>+2547 038 617 26</p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:support@company.com">ekchepkonga@kabarak.ac.ke</a></p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:suport@company.com">cadison@kabarak.ac.ke</a></p>
        </div>
    </div>

    <div class="footer-right">
        <p class="footer-company-about">
            <span>About the company</span>
            "Cargo Booking, a leading logistics and transportation company, provides efficient and reliable solutions for booking and shipping your cargo to its destination, ensuring timely and secure deliveries nationwide."
        </p>
        <div class="footer-icons">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>
        </div>
    </div>
</footer>