<%# /views/partials/header.ejs %>
<header>
    <nav>
        <div class="wrapper">
            <div class="logo"><a href="/">Cargo.</a></div>
            
            <%# --- Primary Navigation Links Container --- %>
            <div class="general-container">
                <div class="nav-container">
                    
                    <%# The UL for Primary Navigation (ID for mobile toggle) %>
                    <ul class="nav-links" id="mobile-menu">
                        
                        <%# ... (Product Mega Menu, Book Cargo, Shipment Guides, About Us, Track & Trace remain here) ... %>
                        <li class="nav-item has-mega-menu">
                            <a href="#" class="desktop-item">Products</a>
                            <%# ... mega-box content ... %>
                        </li>

                        <li><a href="/customer/booking/new">Book Cargo</a></li> 
                        <li><a href="/shipment-guides">Shipment guides</a></li>
                        
                        <li class="nav-item has-dropdown">
                            <a href="#" class="desktop-item">About Us</a>
                            <%# ... drop-menu content ... %>
                        </li>
                        
                        <li><a href="/track">Track & Trace</a></li>
                        
                        <%# --- USER-SPECIFIC MOBILE-ONLY ACTIONS (Remain inside UL for mobile menu) --- %>
                        <% if (user) { %> 
                            <li class="user-action-item mobile-only"><a href="/customer/profile" class="mobile-profile-link">Profile</a></li>
                            <li class="user-action-item mobile-only"><a href="/auth/logout" class="register-button logout-button">Logout</a></li> 
                        <% } else { %>
                            <li class="user-action-item mobile-only"><a href="/auth/login">Login</a></li> 
                            <li class="user-action-item mobile-only"><a href="/auth/register" class="register-button">Register</a></li>
                        <% } %>
                    </ul>
                </div>
            </div>

            <%# --- NEW POSITION: Desktop User Actions (Login/Register/Logout) --- %>
            <div class="user-button desktop-actions">
                <% if (user) { %> 
                    <a href="/auth/logout" class="register-button logout-button">Logout</a>
                <% } else { %>
                    <a href="/auth/login" class="login-link">Login</a> 
                    <a href="/auth/register" class="register-button">Register</a>
                <% } %>
            </div>

            <%# --- User Icon for Profile Dropdown (Desktop/Tablet) --- %>
            <div class="user" id="userDiv">
                <% if (user) { %>
                    <ion-icon name="person-circle-outline"></ion-icon>
                <% } else { %>
                    <ion-icon name="people-outline"></ion-icon>
                <% } %>
            </div>
            
            <%# --- Mobile Menu Toggle Button (Targeted by JavaScript) --- %>
            <div class="toggle" id="menu-toggle" data-target="mobile-menu">
                <ion-icon name="menu-outline"></ion-icon>
            </div>
        </div>
    </nav>
</header>