<%# /views/public/index.ejs %>

<%# This content is injected into the <main> tag of default.ejs %>

<div class="container">
    <div class="statement">
        <p>"We provide nationwide cargo booking services, ensuring your shipments can move smoothly throughout the entire country."</p>
    </div>
    <div class="statement_img">
        <img src="/images/export-services-cargo.jpg" alt="into" srcset="">
    </div>
</div>
<section class="hero">
    <div class="grid-container">
        <div class="grid-item">
            <img src="/images/images.jpeg" alt="Image 1">
            <p>Entry into a worldwide <br>marketplace.</p>
        </div>
        <div class="grid-item">
            <img src="/images/istockphoto-183247137-612x612.jpg" alt="Image 2">
            <p>Sending multiple stop rate<br> requests within a single inquiry.</p>
        </div>
        <div class="grid-item">
            <img src="/images/transporte-carreteras.jpg" alt="Image 3">
            <p>Immediate reservation with<br> automatic allocation</p>
        </div>
        <div class="grid-item">
            <img src="/images/benefits_4.svg" alt="Image 4">
            <p>Streamlined user interaction <br>and application.</p>
        </div>
    </div>
</section>

<br><br><br>

<div class="main_content">
    <div class="slideshow">
        <div class="slideshow-inner">
            <div class="slides">
                <div class="slide is-active ">
                    <div class="slide-content">
                        <div class="caption">
                            <div class="title">Water Cargo Services</div>
                            <div class="text">
                                <p>Explore seamless cargo booking services, connecting you to a world of efficient logistics and transportation solutions.</p>
                            </div> 
                            <a href="/shipment-guides" class="btn">
                                <span class="btn-inner">Learn More</span>
                            </a>
                        </div>
                    </div>
                    <div class="image-container" > 
                        <img src="/images/slide4.jpg" alt="" class="image" />
                    </div>
                </div>
                <div class="slide">
                    <div class="slide-content">
                        <div class="caption">
                            <div class="title">Aerial Cargo Services</div>
                            <div class="text">
                                <p>Elevate your shipments with our aerial cargo services, ensuring swift and secure deliveries through the skies.</p>
                            </div> 
                            <a href="/shipment-guides" class="btn">
                                <span class="btn-inner">Learn More</span>
                            </a>
                        </div>
                    </div>
                    <div class="image-container">
                        <img src="/images/slide2.jpg" alt="" class="image" />
                    </div>
                </div>
                <div class="slide">
                    <div class="slide-content">
                        <div class="caption">
                            <div class="title">Land Cargo Services</div>
                            <div class="text">
                                <p>Grounded in reliability, our land cargo services offer efficient transportation for your goods across vast landscapes.</p>
                            </div> 
                            <a href="/shipment-guides" class="btn">
                                <span class="btn-inner">Learn More</span>
                            </a>
                        </div>
                    </div>
                    <div class="image-container">
                        <img src="/images/slide3.jpg" alt="" class="image" />
                    </div>
                </div>
                <div class="slide">
                    <div class="slide-content">
                        <div class="caption">
                            <div class="title">Train Cargo Services</div>
                            <div class="text">
                                <p>Experience the power of rail transport with our train cargo services, delivering goods across the tracks with precision and speed.</p>
                            </div> 
                            <a href="/shipment-guides" class="btn">
                                <span class="btn-inner">Learn More</span>
                            </a>
                        </div>
                    </div>
                    <div class="image-container"> 
                        <img src="/images/Leonardo_Vision_XL_a_simple_illustration_of_a_train_cargo_ship_0.jpg" alt="" class="image" />
                    </div>
                </div>
            </div>
            <div class="pagination">
                <div class="item is-active"> 
                    <span class="icon">1</span>
                </div>
                <div class="item">
                    <span class="icon">2</span>
                </div>
                <div class="item">
                    <span class="icon">3</span>
                </div>
                <div class="item">
                    <span class="icon">4</span>
                </div>
            </div>
            <div class="arrows">
                <div class="arrow prev">
                    <span class="svg svg-arrow-left">
                        <svg version="1.1" id="svg4-Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14px" height="26px" viewBox="0 0 14 26" enable-background="new 0 0 14 26" xml:space="preserve"> <path d="M13,26c-0.256,0-0.512-0.098-0.707-0.293l-12-12c-0.391-0.391-0.391-1.023,0-1.414l12-12c0.391-0.391,1.023-0.391,1.414,0s0.391,1.023,0,1.414L2.414,13l11.293,11.293c0.391,0.391,0.391,1.023,0,1.414C13.512,25.902,13.256,26,13,26z"/> </svg>
                        <span class="alt sr-only"></span>
                    </span>
                </div>
                <div class="arrow next">
                    <span class="svg svg-arrow-right">
                        <svg version="1.1" id="svg5-Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14px" height="26px" viewBox="0 0 14 26" enable-background="new 0 0 14 26" xml:space="preserve"> <path d="M1,0c0.256,0,0.512,0.098,0.707,0.293l12,12c0.391,0.391,0.391,1.023,0,1.414l-12,12c-0.391,0.391-1.023,0.391-1.414,0s-0.391-1.023,0-1.414L11.586,13L0.293,1.707c-0.391-0.391-0.391-1.023,0-1.414C0.488,0.098,0.744,0,1,0z"/> </svg>
                        <span class="alt sr-only"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="join">
    <div class="join_left">
        <h4>Join over 10,000 bookers today</h4>
        <p>"Sail the Seas of Efficiency: Your Cargo, Our Commitment!"</p>
    </div>
    <div class="join_right">
        <% if (user) { %> <%# Use 'user' from res.locals %>
            <a href="/customer/booking/new" class="register-btn">Book Your Cargo for transportation</a>
        <% } else { %>
            <a href="/auth/register" class="register-btn">Register to book cargo</a>
        <% } %>
        <div class="extras">
            <p>want to learn more? <a href="/FAQ">Click Here</a></p>
        </div>
    </div>
</div>